@use "src/styles/theme" as *;

:host {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;

  [container], .default-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .default-container:empty {
    display: none;
  }
}

