
.course-card-root{
    width: 156px;
    height: 136px;
    border: 1px solid rgba($color: #000000, $alpha: 0.12);
    border-radius: 8px;
}

.course-card-container{
    padding-top: 32px;
    padding-bottom: 32px;
}
.course-card-title{
    margin-bottom: 10px;
    line-height: 24px;
}

.mat-card .last-child {
    margin-bottom: 0;
  }

 .course-card-subtitle{

}