:host {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, 156px)); // TODO: RESPONSIVE ITEM?
    gap: 16px;
    grid-column: 1/-1;
  }
}
