.course-grid{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.course-grid-header{
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
}
.course-grid-root{
    margin-left: 32px;
}

.course-item{
    margin: 8px;
}