<div class="course-grid">
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>
    <app-course-card class="course-item" courseTitle="Computer Networks" content="CS201"></app-course-card>   
</div>