@use "theme" as *;

:host {
  //display: grid;
  //grid-template-columns: repeat(5, auto);
  //padding: 15px;
  //border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;

  > .mdc-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  > entry {
    margin: 5px;
    width: 50px;
  }
}
