<top-bar-layout>
  <mdc-layout>

    <document-header title="Grades" [span]="12" [cr]="userCR|async" [stat]="stat|async"
                     (download)="downloadBtn()">
    </document-header>

    <mdc-table [span]="12" [rows]="entries|async">
      <column key="rollNo" label="Roll No"></column>
      <column key="name" label="Name"></column>
      <column key="CT1" label="CT 1" numeric></column>
      <column key="CT2" label="CT 2" numeric></column>
      <column key="ASSIGNMENT" label="ASSIGNMENT" numeric></column>
      <column key="END_SEM" label="END SEM" numeric></column>
      <column key="total" label="TOTAL" numeric></column>
      <column key="grade" label="GRADE" numeric></column>
    </mdc-table>

  </mdc-layout>
</top-bar-layout>
