<top-bar-layout>
  <div container>
    <ng-container *ngIf="courseCollections !== null else loader">

      <!-- Exam cell -->
      <mdc-tabs-bar *ngIf="this.user && this.user.isExamCell" (handletabChange)='handletabChange($event)'
        [tabs]="homeTabs">
      </mdc-tabs-bar>
      <!-- End of Exam cell -->

      <!-- Faculty -->
      <div *ngIf="this.user && this.user.isFaculty">
        <course-grid [title]="this.title | titlecase" [courses]="this.courseCollections[this.title]"
          [showDownload]="false"></course-grid>
      </div>
      <!-- End of Faculty -->

      <!-- Student -->
      <div *ngIf="this.user && this.user.isStudent">
        <course-grid [title]="this.title | titlecase" [courses]="this.courseCollections[this.title]"
          [showDownload]="false"></course-grid>
      </div>
      <!-- End of Student -->

      <div>
        <button mdc-button="outlined" flex (click)="handleArchive()">
          <mdc-icon [size]="24">archive</mdc-icon>
          archive
        </button>

        <button *ngIf="this.user && this.user.isExamCell" mdc-button="outlined" flex (click)="handleArchive()">
          <mdc-icon [size]="24">visibility</mdc-icon>
          Result Summary
        </button>

        <button mdc-button="raised" *ngIf="this.user && this.user.isStudent" flex (click)="handleArchive()">
          Result
        </button>
      </div>

    </ng-container>
  </div>
</top-bar-layout>

<ng-template #loader>
  <mdc-spinner></mdc-spinner>
</ng-template>