.home-root{
    margin-left: 92px;
    margin-top: 64px;
    margin-bottom: 32px;
}

.home-archive{
    margin-top: 24px;
    margin-left: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.home-batch-grid{
}

