:host {
  display: block;
  box-sizing: border-box;
  padding: 125px 250px 25px 150px;
  //max-width: 1080px;

  > div {
    display: flex;
    justify-content: start;
    > button{
      margin-top: 100px;
      padding: 16px 24px;
    }
    > button :first-child{
      margin-right: 62px;
    }
  }

  > mdc-spinner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
}
