<top-bar-layout>
  <mdc-layout *ngIf="semId|async as semId" container>
    <!--  FACULTY & STUDENT  -->
    <ng-container *ngIf="userCourses|async as courses">
      <ng-container *ngTemplateOutlet="coursesTemplate;context:{$implicit:courses}"></ng-container>
    </ng-container>

    <!--  HOD  -->
    <ng-container *ngIf="coursesOfDept|async as courseGroups">
      <ng-container *ngFor="let group of courseGroups|keyvalue">
        <div [span]="12">{{getBatchName(semId, group.key)}}</div>
        <ng-container *ngTemplateOutlet="coursesTemplate;context:{$implicit:group.value}"></ng-container>
      </ng-container>
    </ng-container>

    <!--  EXAM CELL  -->
    <mdc-tabs-bar [span]="12" [tabs]="batches" [selection]="selectedBatchName"></mdc-tabs-bar>
    <ng-container *ngIf="coursesOfBatch|async as courseGroups">
      <ng-container *ngFor="let group of courseGroups|keyvalue">
        <div [span]="12">{{group.key}}</div>
        <ng-container *ngTemplateOutlet="coursesTemplate;context:{$implicit:group.value}"></ng-container>
      </ng-container>
    </ng-container>

  </mdc-layout>
</top-bar-layout>

<ng-template #loader>
  <mdc-spinner></mdc-spinner>
</ng-template>

<ng-template #coursesTemplate let-courses>
  <button [span]="2" *ngFor="let course of courses" class="course-btn surface" mdc-button="outlined" flex>
    <span class="sub1 dark-text-primary">{{course.name}}</span>
    <span class="sub1 dark-text-secondary">{{course.courseCode}}</span>
  </button>
</ng-template>
