//This File exposes global theme and style utilities to be accessed in any component's stylesheet
@forward "~@angular/material/theming";
@forward "theme.base";
@forward "media";

@use "sass:map";
@use "~@angular/material/theming" as *;
@use 'theme.base' as *;
@use "typography";

$-color_config: map.get($theme, color);

// Color Palettes
$primary: map.get($-color_config, primary);

//Colors
$color-primary: mat-color($primary);


// ** Important ** include core-theme only once
@mixin core-theme() {
  @include mat-core($theme);
  @include mat-core-theme($theme);
  @include typography.figma-base-typography($theme);

  html, body {
    height: 100%;
    margin: 0;
  }

}
