@use "sass:map";
@use "~@angular/material/theming" as *;
@use "typography";

@function mat-theme($custom_theme) {

  $theme: _color_theme_with_overrides($custom_theme);
  $theme: _apply_angular-material-compatible-typography($theme);

  @return $theme;
}


// Applies Color Overrides that is not available through mat-light-theme to Theme Object
@function _color_theme_with_overrides($custom_theme) {
  $default_theme: mat-light-theme($custom_theme);

  // Color Theme from Default Theme Object
  $config: map.get($default_theme, color);
  $background_config: map.get($config, background);
  $foreground_config: map.get($config, foreground);

  // Color Overrides
  $overridden_config: map.get($custom_theme, color);
  $overridden-background_config: map.get($overridden_config, background);
  $overridden-foreground_config: map.get($overridden_config, foreground);

  // Merge Color Overrides into Default Theme
  @if $overridden-background_config != null {
    $background_config: map.merge($background_config, $overridden-background_config);
  }
  @if $overridden-foreground_config != null {
    $foreground_config: map.merge($foreground_config, $overridden-foreground_config);
  }

  $overridden_config: map.merge($config, (background:$background_config, foreground:$foreground_config));

  @return map.merge($default_theme, (color:$overridden_config))
}


@function _apply_angular-material-compatible-typography($theme) {

  $config: map.get($theme, typography);

  $font-family: map.get($config, font-family);
  $config: map.remove($config, font-family);

  $compatible_config: $config;

  @each $figma_name, $value in $config {
    // set Font-family if not set already
    @if map-get($value, font-family) == null {
      $value: map-merge($value, (font-family: $font-family));
    }
    // update config
    @if typography.level($figma_name) {
      $compatible_config: map.merge($compatible_config, (
        typography.level($figma_name): $value,
        $figma_name:$value
      ));
    }
  }

  // assign missing typography levels
  $default_config: mat-typography-config($font-family);
  $compatible_config: map.merge($default_config, $compatible_config);

  @return map.merge($theme, (typography: $compatible_config));
}
