//Base Theme Settings of the App

@use "~@angular/material/theming" as *;
@use "color";
@use "theme.function" as functions;

$theme: functions.mat-theme((
  color: (
    primary: mat-palette(color.$blue-palette),
    accent: mat-palette($mat-amber, A200, A100, A400),
    background:(
      background:color.$blue-white,
    )
  ),
  typography: (
    font-family: 'Roboto, "Helvetica Neue", sans-serif',
    h1: mat-typography-level(96px, 112px, 300, null, -1.5px),
    h2: mat-typography-level(60px, 72px, 300, null, -0.5px),
    h3: mat-typography-level(48px, 56px, normal),
    h4: mat-typography-level(34px, 36px, normal),
    h5: mat-typography-level(24px, 24px, normal, null, 0.18px),
    h6: mat-typography-level(20px, 24px, 500, null, 0.15px),
    sub1: mat-typography-level(16px, 24px, normal, null, 0.15px),
    sub2: mat-typography-level(14px, 24px, 500, null, 0.1px),
    body1: mat-typography-level(16px, 24px, normal, null, 0.5px),
    body2: mat-typography-level(14px, 20px, normal, null, 0.25px),
    button: mat-typography-level(14px, 16px, 500, null, 1.25px),
    caption: mat-typography-level(12px, 16px, normal, null, 0.4px),
    overline: mat-typography-level(10px, 16px, 500, null, 1.5px)
  )
));

