//Base Theme Settings of the App
@use "@material/theme" with (
  $primary: #0038C8,
  $secondary: #FFD740,
  $background: #F9FEFF,
);

// TODO: REMOVE AFTER MIGRATION
$color-outline: #000000;
$color-primary: #0038C8;
$color-high-emphasis-on-surface: black;
$color-surface: white;
@mixin sub2-typography {
  // TODO: REMOVE AFTER MIGRATION
}
