@use "sass:map";
@use "sass:string";
@use "~@angular/material/theming" as *;

// The key in the below map represents typography convention followed in figma
// while the value represents it's equivalent in angular material
$-figma-angular-typography-map: (
  h1: display-4,
  h2: display-3,
  h3: display-2,
  h4: display-1,
  h5: headline,
  h6: title,
  sub1: subheading-2,
  sub2: subheading-1,
  body1: body-2,
  body2: body-1,
);

// converts figma typography name to angular typography name
@function level($figma_name) {
  @return map-get($-figma-angular-typography-map, $figma_name);
}

// custom classes and native elements in figma typography convention
@mixin figma-base-typography($theme-or-config) {
  $config: mat-get-typography-config($theme-or-config);

  body {
    @include mat-typography-level-to-styles($config, body2);
  }

  // headlines
  @for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
      @include mat-typography-level-to-styles($config, h#{$i});
      margin: 4px 0;
    }
  }

  @for $i from 1 through 2 {
    .sub#{$i} {
      @include mat-typography-level-to-styles($config, sub#{$i});
    }
    .body#{$i} {
      @include mat-typography-level-to-styles($config, body#{$i});
    }
  }

  button, .button {
    @include mat-typography-level-to-styles($config, button);
  }

  .caption {
    @include mat-typography-level-to-styles($config, caption);
  }

  .overline {
    @include mat-typography-level-to-styles($config, overline);
  }
}


