<table cdk-table [dataSource]="inputSource" class="mdc-data-table__table">
  <!--Column Cell Declarations-->
  <ng-container *ngFor="let column of columnSettings" [cdkColumnDef]="$any(column.key)">
    <!--Header Cell-->
    <th cdk-header-cell
        class="mdc-data-table__header-cell"
        [class.mdc-data-table__header-cell--numeric]="column.numeric"
        *cdkHeaderCellDef
        [attr.data-column-id]="column.key">
      <div class="mdc-data-table__header-cell-wrapper">
        <div class="mdc-data-table__header-cell-label">{{column.label}}</div>
      </div>
    </th>

    <!--Normal Cell-->
    <td cdk-cell
        class="mdc-data-table__cell"
        [class.mdc-data-table__cell--numeric]="column.numeric"
        *cdkCellDef="let row">
      <label mdc-text-field *ngIf="column.editable else nonEditableTemplate">
        <input mdc-input [value]="row[column.key]"
               [type]="column.numeric?'number':'text'"
               (change)="onCellChange($event,column.key,row,column)">
      </label>
      <ng-template #nonEditableTemplate>
        {{row[column.key]}}
      </ng-template>
    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr cdk-header-row class="mdc-data-table__header-row" *cdkHeaderRowDef="_columnKeys"></tr>
  <tr cdk-row class="mdc-data-table__row" *cdkRowDef="let row; columns: _columnKeys"></tr>

</table>

