$dimensions: (2, 4, 8, 12, 16, 24, 32);


@each $i in $dimensions {
  .p#{$i}, .hp#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .p#{$i}, .vp#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }

  .m#{$i}, .hm#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }

  .m#{$i}, .vm#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
}
