// simplifying mdc-typography--<STYLE> classes

@use "@material/typography" as mdc;

.mdc-typography {

  @include mdc.typography(body2);

  @for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
      @include mdc.typography(headline#{$i});
      margin: 0
    }
  }

  .sub1 {
    @include mdc.typography(subtitle1);
    margin: 0
  }

  .sub2 {
    @include mdc.typography(subtitle2);
    margin: 0
  }

  .body1 {
    @include mdc.typography(body1);
    margin: 0
  }

  .body2, p, div {
    @include mdc.typography(body2);
    margin: 0
  }

  .caption {
    @include mdc.typography(caption);
    margin: 0
  }

  .button {
    @include mdc.typography(button);
    margin: 0
  }

  .overline {
    @include mdc.typography(overline);
    margin: 0
  }

}
