<top-bar-layout>
  <mdc-layout container>
    <ng-container *ngIf="stat|async as stat">
      <ng-container *ngIf="userCR|async as cr">

        <div [span]="12" class="header-tile">
          <h4>Attendance</h4>
          <div class="text-block">
            <span class="dark-text-secondary overline">PUBLISHED ON</span>
            <span class="dark-text-primary sub2">12 AUG 2021</span>
          </div>
          <button mdc-button="raised" *ngIf="cr.isFaculty" (click)="publishBtn()">PUBLISH</button>
        </div>

      </ng-container>
    </ng-container>

    <div [span]="12" *ngIf="meta|async as meta">
      <span class="sub2 dark-text-primary">No of Classes Conducted</span>
      <label mdc-text-field class="surface hm16">
        <input mdc-input type="number" min="0" max="500" [value]="meta.total" (change)="totalChange($event)">
      </label>
    </div>


    <mdc-table [span]="8" [rows]="_entriesUI|async" [editableTemplate]="editableCell" (edit)="onEdit($event)">
      <column key="rollNo" label="Roll No"></column>
      <column key="name" label="Name"></column>
      <column key="attended" label="No of Classes Attended" numeric [editable]="editable|async"></column>
      <column key="percentage" label="Percentage" numeric></column>
    </mdc-table>

  </mdc-layout>
</top-bar-layout>


<ng-template #editableCell let-row='row' let-col='col'>
  <label mdc-text-field>
    <input mdc-input type="number" [disabled]="disableEdit" min="0" [max]="_total" [value]="row[col.key]">
  </label>
</ng-template>


