<ng-container *ngIf="courseOverview|async as data">
  <data-card [title]="attendanceCardTitle">
    <entry title="Percentage" [value]="data.attendanceEntry.percentage"></entry>
    <entry title="No. of Classes Attended" [value]="data.attendanceEntry.attendedClasses"></entry>
    <entry title="No. of Classes Conducted" [value]="data.attendanceEntry.totalClasses"></entry>
    <entry title="Last Updated On" [value]="data.attendanceEntry.timestamp"></entry>
  </data-card>
  <h6>MARK UPDATES</h6>
  <div class="mark-cards">
    <data-card *ngFor="let entry of data.markEntries" [title]="entry.documentName">
      <entry title="Marks" [value]="entry.mark"></entry>
      <entry title="Last Updated On" [value]="entry.timestamp"></entry>
    </data-card>
  </div>
</ng-container>
