<data-card *ngIf="attendanceEntry|async as data" title="ATTENDANCE">
  <entry title="Percentage" [value]="percent(data.attended,data.total) || '-'"></entry>
  <entry title="No. of Classes Attended" [value]="data.attended?.toString() || '-'"></entry>
  <entry title="No. of Classes Conducted" [value]="data.total?.toString() || '-'"></entry>
  <entry title="Updated On" [value]="data.publicTimestamp?.toDate()|date:'mediumDate'|| '-'"></entry>
</data-card>

<h6>MARK UPDATES</h6>

<div class="mark-cards">
  <data-card *ngFor="let entry of markEntries|async" [title]="DOCUMENT_NAMES[entry.documentId]">
    <entry title="Marks" [value]="entry.mark?.toString() || '-'"></entry>
    <entry title="Updated On" [value]="entry.publicTimestamp?.toDate()|date:'mediumDate' || '-'"></entry>
  </data-card>
</div>
