@use "src/styles/theme" as *;

:host {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;

  > div {
    flex: 1;
    display: flex;
    align-items: center;

    :not(:last-child) {
      margin-right: 8px;
    }
  }

  > [mdc-button] {
    border-radius: 50px;
  }

  > mdc-menu {
    // TODO: Style menu
  }
}
