@use "src/styles/theme" as *;

:host {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;

  > div {
    flex: 1;
  }

  > [mdc-button] {
    border-radius: 50px;
  }
}
