.surface {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto;
  background-color: white;
  color: black;
  height: auto;
  margin: 15px;

  .last-updated {
    font-weight: lighter;
    text-transform: capitalize;
  }
}

div {
  padding-top: 12px;
  padding-left: 32px;

  h6 {
    font-weight: lighter;
    font-size: medium;
  }

  .surface-group {
    display: flex;
  }
}
