<mdc-layout *ngIf="statsDocument|async as stats">
  <h6 [span]="12">Attendance</h6>
  <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:stats.entries.ATTENDANCE}"></ng-container>

  <h6 [span]="12">Marklist</h6>
  <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:stats.entries.CT1}"></ng-container>
  <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:stats.entries.CT2}"></ng-container>
  <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:stats.entries.ASSIGNMENT}"></ng-container>
  <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:stats.entries.END_SEM}"></ng-container>

  <h6 [span]="12">Grading</h6>
  <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:stats.entries.GRADING_CRITERIA}"></ng-container>
  <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:stats.entries.GRADES}"></ng-container>

</mdc-layout>

<ng-template #actionButton let-doc>
  <ng-container *ngIf="asStatsUIEntry(doc) as doc">

    <button [span]="3" mdc-button class="surface mdc-button--outlined" (click)="openDocument(doc.documentId)">
      <span>{{DOCUMENT_NAMES[doc.documentId]}}</span>
      <span class="body2">Last Updated 25 Aug 2021</span>
    </button>
  </ng-container>
</ng-template>
