<ng-template #actionButton let-doc>
  <!--  TODO: CourseDocumentStat is available here, use it  -->
  <button mdc-button class="surface mdc-button--outlined" (click)="openDocument(doc.id)">
    <h5>{{doc.documentName}}</h5>
    <!--    <ng-template [ngIf]="doc.timestamp">-->
    <!--      <p class="body2">{{doc.timestamp}}</p>-->
    <!--    </ng-template>-->
    <p class="body2">Last Updated 25 Aug 2021</p>
  </button>
</ng-template>

<div class="sub-group" *ngFor="let group of documentGroups|async">
  <h6>{{group.title}}</h6>
  <div class="surface-group">
    <ng-container *ngFor="let doc of group.actions">
      <ng-container *ngTemplateOutlet="actionButton;context:{$implicit:doc}"></ng-container>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
