<div class="email_container" *ngIf="!this.nextPage">
    <span class="h5 dark-text-primary">Account</span>
    <div class="inner">
        <input #Input placeholder="Roll No / Email" type="email">
        <span class="sub1 dark-text-primary">{{ this.emailError }}</span>
        <div class="cont">
            <button mdc-button (click)="handleContinue()">CONTINUE</button>
        </div>
    </div>
</div>
<div class="next_page" *ngIf="this.nextPage">
    <span class="sub1 dark-text-primary">Verification link has been sent to the email</span>
    <button mdc-button (click)="handleGoBack()">Go Back</button>
</div>

<div class="error_container" *ngIf="this.error != ''">
    <span class="sub1 dark-text-primary">{{this.error}}</span>
    <button mdc-button (click)="handleGoBack()">Go Back</button>
</div>