<top-bar-layout>
  <mdc-layout>
    <document-header [span]="12" *ngIf="stat|async as stat" [title]="stat.documentId + 'Marklist'" [stat]="stat"
                     [cr]="userCR|async"
                     [showAction]="editable|async"
                     (download)="downloadBtn()"
                     (action)="publishBtn()">
    </document-header>

    <mdc-table [span]="6" [rows]="_entriesUI|async" [editableTemplate]="editableCell" (edit)="onEdit($event)">
      <column key="rollNo" label="Roll No"></column>
      <column key="name" label="Name"></column>
      <column key="mark" label="Mark" numeric [editable]="editable|async"></column>
    </mdc-table>

  </mdc-layout>
</top-bar-layout>

<ng-template #editableCell let-row='row' let-col='col'>
  <label mdc-text-field>
    <input mdc-input type="number" [disabled]="disableEdit" [value]="row[col.key]">
  </label>
</ng-template>
