<mdc-layout>

  <div [span]="12" class="header-tile">
    <h4>Marklist</h4>
    <div class="text-block">
      <span class="dark-text-secondary overline">PUBLISHED ON</span>
      <span class="dark-text-primary sub2">12 AUG 2021</span>
    </div>
    <button mdc-button="outlined" class="surface">
      <mdc-icon>download</mdc-icon>
      DOWNLOAD
    </button>
    <button mdc-button="raised">PUBLISH</button>
  </div>

  <mdc-table [span]="6" [rows]="entries|async"
             [editableCell]="editableCell">
    <column key="rollNo" label="Roll No"></column>
    <column key="name" label="Name"></column>
    <column key="mark" label="Mark" [editable]="editable|async"></column>
  </mdc-table>

</mdc-layout>

<ng-template #editableCell let-row='row' let-col='col'>
  <label mdc-text-field class="numeric">
    <input mdc-input type="number" [value]="row[col.key]" (change)="onEdit(col.key,row,$event)">
  </label>
</ng-template>
