<top-bar-layout title="Course">
  <div *ngIf="course|async as course">
    <div class="course-name">
      {{course.name}}
    </div>
    <div class="course-details">
      <p class="details-title"> CODE </p>
      <p class="details-title"> ENROLLED </p>
      <p class="details-title"> FACULTY </p>
      <p class="details-title"> SEMESTER </p>
      <p>{{course.courseCode}}</p>
      <p>{{course.studentCount}}</p>
      <p>{{course.facultyName}}</p>
      <p>{{semesterName|async}}</p>
    </div>
  </div>

  <ng-container *ngIf="courseCR|async as cr">
    <faculty-actions *ngIf="cr.isFaculty || cr.isExamCell || cr.isHod"></faculty-actions>
    <student-course-overview *ngIf="cr.isStudent"></student-course-overview>
  </ng-container>
</top-bar-layout>
