@use "theme" as *;
@use "src/app/mdc-helper/styles/main" as material;

//imports
@use "app/app-document-pages/document-pages.import";

@include material.all-styles();

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

.firebase-emulator-warning {
  display: none;
}

